PORT=5001
MONGODB_CONNECTIONSTRING=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173

ACCESS_TOKEN_SECRET=replace_with_long_random_secret
FREEIMAGE_API_KEY=your_api_key
FREEIMAGE_API_URL=https://freeimage.host/api/1/upload
